.container {
    background-color: rgb(214, 213, 213);
    text-align: center;
}

h1 {
    padding-top: 75px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
}

h2 {
    margin-top: 50px;
}
.view {
    float: right;
}

.res {
    float: left;
    background-color: crimson;
}

.btn {
    margin-top: 50px;
    border-style: none;
    margin-bottom: 25px;
}

